<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/WD-html-in-xml/DTD/xhtml1-strict.dtd">

<head>

    <meta teradev-xsl="EntradaComercios">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="text/html;CHARSET=ISO-8859-1" http-equiv="Content-Type">
    <link href="/components/dashboard/media.css" rel="stylesheet" type="text/css">
    <title>Mis Tarjetas Recargables - Entrada de Empresas</title>
    <script language="Javascript" type="text/javascript">

        function openFloatWindow(url) {
            var woptions = 'toolbar=yes,directories=yes,menubar=yes,location=no,resizable=yes,scrollbars=yes,status=yes,width=800,height=600';
            var FLOAT = window.open(url, 'Float', woptions);
            if (FLOAT.focus != null) FLOAT.focus();
        }

    </script>

    <script src="/components/dashboard/browser.js" type="text/javascript"></script>

    <script language="javascript1.2" src="https://prismanet.prismamediosdepago.com/recargables/media/style.js"
        type="text/javascript"></script>
        {% include 'layout.html' %}

</head>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="610">
    <tbody>
        <tr bgcolor="#B0C0D0">
            <td align="center" bgcolor="#B0C0D0" class="TablaTitulo" colspan="2" height="19" heigth="40"
                valign="middle">EJERCITO ARGENTINO </td>
        </tr>
        <tr bgcolor="#B0C0D0">
            <td align="center" bgcolor="#B0C0D0" class="TablaRows2" colspan="2" height="20"
                style="padding: 10px 0px 10px 0px;"><span style="font-size:16px; font-weight:normal;">CC BR MTE
                    III</span></td>
        </tr>
        <tr bgcolor="#B0C0D0">
            <td align="left" bgcolor="#B0C0D0" class="TablaRows2" height="20" style="padding-left:5px"><span
                    style="font-size:12px; font-weight:normal;"><strong>Denominación de cuenta:</strong>&nbsp;CC BR
                    III</span></td>
            <td align="left" bgcolor="#B0C0D0" class="TablaRows2" height="20" style="padding-left:5px"><span
                    style="font-size:12px; font-weight:normal;"><strong>Nro. de cuenta:</strong>&nbsp;568298491</span>
            </td>
        </tr>
        <tr bgcolor="#B0C0D0">
            <td align="left" bgcolor="#B0C0D0" class="TablaRows2" height="20" style="padding-left:5px"><span
                    style="font-size:12px; font-weight:normal;"><strong>Saldo inicial:</strong>&nbsp;$4220778.24</span>
            </td>
            <td align="left" bgcolor="#B0C0D0" class="TablaRows2" height="20" style="padding-left:5px"></td>
        </tr>
        <tr bgcolor="#B0C0D0">
            <td align="center" bgcolor="#B0C0D0" class="TablaRows2" colspan="2" height="20">
                <p><strong>Período&nbsp;Actual</strong></p>
            </td>
        </tr>
        <tr bgcolor="#B0C0D0">
            <td align="left" bgcolor="#B0C0D0" class="TablaRows2" height="20" style="padding-left: 10px;">
                <font color="#000080">
                    <p><a
                            href="GetMovimientosCuenta.event?tipo=porCodigo&amp;Consultar=Consultar&amp;cuenta=568298491&amp;periodo=03/2024&amp;centroCosto=1693155">Ver
                            movimientos del centro de costo</a></p>
                </font>
            </td>
            <td align="right" bgcolor="#B0C0D0" class="TablaRows2" height="20" style="padding-right: 10px;">
                <font color="#000080">
                    <p><a href="javascript:history.go(-1)">Volver</a></p>
                </font>
            </td>
        </tr>
        <tr bgcolor="#B0C0D0">
            <td align="center" bgcolor="#B0C0D0" class="TablaTitulo" colspan="2" height="2"></td>
        </tr>
    </tbody>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" height="39" width="95%">
    <tbody>
        <tr>
            <td height="38">
                <font color="#6681a2" face="Arial" size="3"><strong>Totales por Centro de Costos</strong></font>
            </td>
        </tr>
        <tr>
            <td background="https://prismanet.prismamediosdepago.com/recarga odigo=BAL RESISTENCIA&amp;periodo=03/2024&amp;centroCostoSaldoInicial=100.000,00">CC
                                    BAL RCIA&nbsp;(BAL RESISTENCIA) </a></td>
                            <td align="right" class="TablaRows" nowrap="">CC BAL RCIA</td>
                            <td align="right" class="TablaRows" nowrap="">100.000,00</td>
                            <td align="right" class="TablaRows" nowrap="">677.305,00</td>
                            <td align="right" class="TablaRows" nowrap="">-777.305,00</td>
                            <td align="right" class="TablaRows" nowrap="">0,00</td>
                            <td align="right" class="TablaRows" nowrap="">0,00</td>
                            <td align="right" class="TablaRows" nowrap="">0,00</td>
                            <td align="right" class="TablaRows" nowrap="">0,00</td>
                            <td align="right" class="TablaRows" nowrap="">0,00</td>
                            <td align="right" class="TablaRows" id="1" nowrap="">0,00</td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#ffffbb" class="TablaRows2" colspan="2"><strong>TOTAL</strong>
                            </td>
                            <td align="right" bgcolor="#ffffbb" class="TablaRows2" nowrap="">100.000,00</td>
                            <td align="right" bgcolor="#ffffbb" class="TablaRows2" nowrap="">677.305,00</td>
                            <td align="right" bgcolor="#ffffbb" class="TablaRows2" nowrap="">-777.305,00</td>
                            <td align="right" bgcolor="#ffffbb" class="TablaRows2" nowrap="">0,00</td>
                            <td align="right" bgcolor="#ffffbb" class="TablaRows2" nowrap="">0,00</td>
                            <td align="right" bgcolor="#ffffbb" class="TablaRows2" nowrap="">0,00</td>
                            <td align="right" bgcolor="#ffffbb" class="TablaRows2" nowrap="">0,00</td>
                            <td align="right" bgcolor="#ffffbb" class="TablaRows2" nowrap="">0,00</td>
                            <td align="right" bgcolor="#ffffbb" class="TablaRows2" nowrap=""> &nbsp; </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr></tr>
    </tbody>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed;" width="550">
    <tbody>
        <tr>
            <td align="center" height="20">
                <font color="#000080">
                    <p><a
                            href="GetMovimientosCuenta.event?tipo=porCodigo&amp;Consultar=Consultar&amp;cuenta=568298491&amp;periodo=03/2024&amp;centroCosto=1693155">Ver
                            movimientos del centro de costo</a></p>
                </font>
            </td>
            <td align="center" height="20">
                <font color="#000080">
                    <p><a href="javascript:history.go(-1)">Volver</a></p>
                </font>
            </td>
        </tr>
    </tbody>
</table>