<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mis Tarjetas Recargables</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta teradev-xsl="Login">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="text/html;CHARSET=ISO-8859-1" http-equiv="Content-Type">
    <link href="/style/style.css" rel="stylesheet" type="text/css">

</head>

<body lang="es" leftmargin="0" marginheight="0" marginwidth="0"
    onload="document.login.usuario.focus(); document.login.usuario.select()" topmargin="0">
    <table cellpadding="0" cellspacing="0" width="910">
        <tbody>
            <tr>
                <td><img src="https://prismanet.prismamediosdepago.com/recargables/media/Encabezado.jpg"></td>
            </tr>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="10">
                        <tbody>
                            <tr>
                                <td align="right" valign="top">
                                    <form action="/" method="post" name="login"><br><img
                                            src="https://prismanet.prismamediosdepago.com/recargables/media/MenuTitulo00.gif"><br>
                                        <p class="TextoBaseChico">

                                            <font color="#336699">
                                                <br>
                                                Usuario: <br>
                                                <input class="FormTextBox" name="usuario" size="15" type="text"><br>
                                                Clave de acceso: <br>
                                                <input autocomplete="off" class="FormTextBox" name="password" size="12"
                                                    type="text"><br><br>
                                                <input class="FormButton" name="Ingresar" type="submit"
                                                    value=" Ingresar "><br><br>
                                                <span>¿Es Ud. el administrador y no conoce su clave de acceso?</span>
                                            </font>
                                            <br><br><br>
                                        </p>
                                        <p class="TextoBaseChico"></p>
                                    </form>
                                </td>
                                <td background="https://prismanet.prismamediosdepago.com/recargables/media/LineaPunto.gif"
                                    width="4"></td>
                                <td valign="top"><img
                                        src="https://prismanet.prismamediosdepago.com/recargables/media/PresentacionCopres.jpg"><br><span
                                        class="TextoBaseChico">
                                        <font color="#666666"><br><strong>MIS TARJETAS RECARGABLES, NUEVAS SOLUCIONES
                                                PARA LAS NECESIDADES DE SU EMPRESA.</strong><br><br> El programa MIS
                                            TARJETAS RECARGABLES le brinda soluciones integrales de gran flexibilidad.
                                            <br><br><strong>Mis Tarjetas Recargables</strong> es una herramienta única
                                            para acceder vía internet, a la información de las tarjetas Visa Recargables
                                            de su compañía. <br><br> Le permitirá asociar las Tarjetas a Centros de
                                            Costos, reasignarles fondos, obtener Reportes de Actividad de todas las
                                            operaciones realizadas y definir otros Usuarios del sistema dentro de su
                                            empresa. <br><br> Para ingresar, utilice su Nombre de Usuario y Código de
                                            Acceso. Si Ud. no posee esta información, verifique en su Empresa si Ud.
                                            está autorizado para ingresar al sistema.



                                            <br>
                                        </font>
                                    </span><br><br></td>
                            </tr>
                        </tbody>
                    </table><br>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>

</html>